@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <br />
    <hr />
    <h2>Access Point</h2>
    <br />
    <p style="align-self:baseline" class="lead">Look up the access given for all the buildings as well as Users associated with them</p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    <hr />
</div>

